@import "./variables.scss";

body {
  font-family: $fontFamily;
  margin: 0 0 0 0;
  background-color: white;
}

hr {
  margin: 25px 0;
}

@import "./link.scss";
@import "./layout.scss";
@import "./preview.scss";
@import "./markdown.scss";
@import "./foreword.scss";
