.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;

  header {
    background-color: #202123;
    color: white;
    padding: 10px 0 10px 0;

    div {
      width: $containerWidth;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        &:first-of-type {
          flex-grow: 1;
        }
      }

      a {
        margin: 0 5px 0 5px;
      }
    }
  }

  footer {
    text-align: center;
    padding: 15px 0 15px 0;
  }

  main {
    margin: auto;
    width: $containerWidth;
  }

  div {
    &:first-of-type {
      flex-grow: 1;
    }
  }
}
